  .app{
    width: 414px;
    height: 700px; 
    border: 1px solid lightblue;
  }
  input {
    margin-top: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid lightskyblue;
  }

  button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.5px solid rgb(218, 218, 218) ;
    background-color: rgb(235, 235, 235);
    color: rgb(150, 151, 151);
    font-weight: lighter;
    margin: 1rem;
  }

  footer {
margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;

  }
.listed-cities {
  height: 300px;
  
}
  .loggedout-navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }

  .logout-btn {
    border: 0.5px solid rgb(240, 115, 115);
    background-color: white;
    color:rgb(224, 156, 156);
  }

  .main-layout {
    max-width: 414px;
    max-height: 896px;  
  }
  .form-div{
    margin: auto;
    display: flex;
    flex-direction: column;
  
  }
  .forms{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  
  .form-btn {
    padding: 0.5rem;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 0.5rem;
    border: 1px solid lightslategray
  }

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content:space-between;
  margin: auto;
}