
.app{
    width: 414px;
    height: 800px; 
    font-family: hack, CameronSans Light, sans-serif;
        border: 1px dotted lightskyblue;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
    color:rgb(211, 211, 175);
    font-family: Hack;
    margin-left: 1rem;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(77, 77, 77);
  font-family: lcd phone;
  font-size: 1rem;
  opacity: 1; /* Firefox */
}

  input {
    margin-top: 2rem;
    width: 80%;
    height: 3rem;
    border-radius: 1rem;
    border: 1px solid rgb(179, 214, 186);
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    font-size:larger
  }
.marquee-txt {
  font-family: alarm clock;
  color:rgb(121, 255, 94);
  margin-top: 10px;
}

  ul {
    list-style-type: none;
    margin-left: 0.5rem;
  }

  li {
    margin-bottom: 2rem;
    margin-top: 1.5rem;
  }
  .etc-buttons {
    display: flex;
    flex-direction: row;
    justify-content:space-between;

  }
.logo-txt{
  font-family: lcd phone;
}
.nav-bar-user {
  color:rgb(119, 119, 119);
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: auto;
  margin-top: auto;
}
.p-user{
  margin: 0;

}
.navbar-links{
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 35%;
  margin-right: 10px;
}

.img-contacts {
  margin-top: 1.3rem;
}
.loggedin-navbar {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: baseline;
  margin: -10px;
  margin-top: auto;
  margin-bottom: auto;
  
}
.main-layout{
  font-family: Helvetica;
  font-weight: lighter;
  height: 30rem;
  
}
.logout-btn {
  margin: 1rem;
  background-color: white;
  border: none;
  /* margin-right: 1.5rem; */
}
.loggedout-page{
  display: flex;
  flex-direction: column;
  /* margin: auto; */
}

button {
  padding: 0.5rem;
  border-radius: 1vh;
  border: 1px solid gray;
  color: gray;
  background-color: white;
}

.back-btn {
  background-color: none;
  border: none;
}

.footer-btn-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loggedout-navbar{
  padding: 20px;
  border-radius: 2vh;
  margin-top: 30%;
  display: flex;
  flex-direction: row;
  max-width: 80%;
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.logsign-txt {
  font-family: lcd phone;
  color:rgb(134, 172, 159);
  font-size: larger;
}
.loggedout-link {
  font-family: 'lcd phone';
  text-decoration: none;
  color: rgb(84, 155, 99) !important;
}

.signup-btn{
  margin-top: 0.5rem;
  background-color: transparent;
  border: none;
}

.form-layout {
  padding: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
  .form-div{
    margin: auto;
    display: flex;
    flex-direction: column;
  
  }
  .forms{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;;
    display: flex;
    flex-direction: column;
  }
  
  .form-btn {
    padding: 0.5rem;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 0.5rem;
    border: 0.5 solid lightslategray
  }

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: auto;
  background-color:rgb(212, 217, 238)
}