/* pre, code { font-family: An, monospace; } */
  @font-face {
    font-family: 'Andale Mono Regular';
    font-style: light;
    src: local('Andale Mono Regular'), url('fonts/ANDALEMO.woff') format('woff');
    }
  @font-face {
    font-family: 'Myriad Pro Light';
    src: local('Myriad Pro Regular'), url('fonts/myriadpro-light-webfont.woff') format('woff');
  }
:root {
  --speed: 500ms;
}
.app{
    width: 414px;
    background-color:rgba(247, 250, 244, 0.5);
    height: 800px; 
    font-family: Andale Mono Regular, CameronSans Light, sans-serif;
        border: 1px dotted rgb(249, 253, 255);
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    color:rgb(199, 199, 165);
    font-family: 'Andale Mono Regular';
    margin-left: 1rem;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(190, 190, 190);
  font-size: 0.8rem;
  opacity: 3; /* Firefox */
}

  input {
    height: 2rem;
    width: 100%;
    border: 0.5px solid rgb(190, 190, 190);
    text-align: center;
    margin: auto;
    padding-bottom: 0.3rem;
    outline: none;
  }
  .input {
    margin-bottom: 1rem;
  }

ul, li {
   list-style-type: none;
   list-style-position:inside;
   margin:0;
   padding:0;
  }

.ul-searched-cities{
    font-size: 25px;
    text-decoration: none;
  }
/* 
  li {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  } */

  .etc-buttons {
    display: flex;
    flex-direction: row;
    justify-content:space-between;

  }
.logo-txt{
  font-family: hack;
}
.nav-bar-user {
  color:rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: auto;
  margin-top: auto;
}
.nav-user{
  margin: 0;
  text-decoration: none;
  color: #97cf43 !important;
}
a.nav-user:hover{
   cursor: pointer;
  color: red; 
}
.navbar-links{
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 35%;
  margin-right: 10px;
}

.img-contacts {
  margin-top: 1.3rem;
  max-width: 35px;
}

.loggedin-navbar {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: baseline;
  margin: -10px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: white;
  
}

.list-body{
  font-family: Andale Mono Regular;
  font-weight: lighter;
  height: 30rem;
  background-color: white;
  
}
.logout-btn {
  margin: 1rem;
  background-color: white;
  border: none;
  /* margin-right: 1.5rem; */
}

.logout-btn-img {
  max-width: 35px;
  padding: 0;
}

.loggedout-page{
  display: flex;
  flex-direction: column;
  /* margin: auto; */
}

button {
  border-radius: 1vh;
  border: 1px solid rgb(190, 190, 190);
  color: gray;
  background-color: white;
}

.back-btn {
  background-color: none;
  border: none;
}

.footer-btn-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.parent-logout-nav {
  text-align: center;
}
.loggedout-navbar{
  display: flex;
  flex-direction: row;
  max-width: 80%;
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  }

.econtacts {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

}
.e-logo-img {
  max-width: 15%;
  margin: auto;
}
.econtacts-lnk {
  text-decoration: none;
  margin-top: 1rem;
  margin-left: 1rem;
  color: #4ecc06 !important; 
}

/* #97cf43 */

.logsign-txt {
  color:rgb(0, 0, 0);
  font-weight: 200;
}
.loggedout-link {
  text-decoration: none;
  color: rgb(190, 190, 190) !important;
}

.about-text {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  font-size: 12px;
  text-align: center;
  color:#395f00b0
}
.disclaimer {
  margin-top: 2rem;
  padding: 1rem;
  color: #76a82c;
  border: #c9f18b 0.5px solid;
}
.signin-btn{
  margin-top: 0.5rem;
  background-color: transparent;
  border: none;
}

.form-div{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  
  }
.forms{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 60%;
    display: flex;
    flex-direction: column;
  }


  .form-btn {
    padding: 0.5rem;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 0.5rem;
    border: 0.5 solid lightslategray
  }

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: auto;
  background-color:rgb(238, 236, 212)
}

.active-city-link {
  color:rgb(132, 92, 243);
}

.menu-enter {
  max-height: 0px;
  transition: max-height 1s ease;
  overflow: hidden; }

.menu-enter.menu-enter-active {
  height: auto;
  max-height: 100px; }

.menu-leave {
  max-height: 100px;
  transition: max-height 1s ease; }

.menu-leave.menu-leave-active {
  overflow: hidden;
  max-height: 0px; }

.ul-test {
  border: #ababab solid 1px;
  width: 70%;
}

.p-no-contacts {
  font-size: small;
}

.city-contacts-link {

}